{% extends 'CRM/base.html'  %}

{% block content %}

<div class="card">
    <strong>

            &nbsp; &nbsp;
          <p class="text-center">   
        {{record.last_name|upper}}

        {{record.first_name}} 
    </p> 

    </strong>

    <hr>



    <div class="card-body">
        

        <div class="row align-items-start">
            <div class="col">
              <strong> <p class="text-center"> Primera Columna </p> </strong>            
        <p> <strong> ID: </strong>  {{record.id}} </p>

        <p> <strong> Email: </strong> {{record.email}} </p> 

        <p> <strong> Phone number: </strong>  {{record.phone}} </p>

        <p> <strong> Address: </strong>  {{record.address}} </p>

        <p> <strong> City: </strong>  {{record.city}} </p>
        
        <p> <strong> Province: </strong> {{record.province}} </p>
        
        <p> <strong> Country: </strong> {{record.country}} </p> 

        <p> <strong> Creation Date: </strong> {{record.creation_date}} </p> 

    </div>
        
    <div class="col">
        <strong> <p class="text-center"> Primera Columna </p> </strong>  
        <p> <strong> Name: </strong>  {{record.first_name}} </p>

        <p> <strong> Last Name: </strong> {{record.last_name}} </p> 

        <p> <strong> 2nd Last Name: </strong>  {{record.last_name_2}} </p>

        <p> <strong> Cedula: </strong>  {{record.cedula}} </p>

        <p> <strong> Birthday: </strong>  {{record.fecha_nacimiento}} </p>
        
        <p> <strong> Sex: </strong> {{record.sexo}} </p>
        
        <p> <strong> Father Name: </strong> {{record.nombre_padre}} </p> 

        <p> <strong> Mother Name: </strong> {{record.nombre_madre}} </p> 

    </div>
    </div>



</div>  
</div>  

<br>
<div class="centered">

<a href="{% url 'dashboard' %}" class="btn btn-sucundary">Return</a>

&nbsp;

<a href="{% url 'update-record' record.id %}" class="btn btn-info">Update record</a>

&nbsp;

<a href="{% url 'delete-record' record.id %}" class="btn btn-danger">Delete</a> 

</div>
&nbsp;

{% endblock %}